@using DevIO.App.Extensions
@model DevIO.App.ViewModels.FornecedorViewModel

@{
    ViewData["Title"]="Excluir "+Model.Nome;
}
<h1>@ViewData["Title"]</h1>

<div>
    <h3>Ação será permanente!</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Documento)
        </dt>
        <dd class="col-sm-10">
            @this.FormaDocumento(Model.TipoFornecedor, Model.Documento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dt class="col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dt>
    </dl>
</div>

<div>
    <partial name="_DetalhesEnderecoPartial" />
</div>

<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a class="btn btn-info" asp-action="Index">Voltar</a>
    </form>
</div>
